# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore data and model files
data/demonstrations/
models/checkpoints/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
venv/

generate_project_structure.sh
generated_project_structure.txt